# Virtual environments
env/
.venv/
doc/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Other unwanted folders
node_modules/
